extends layout

block content
  h1(style="color: #00ff00")= title
   body(style="background-color: 	#f0fff0")

  if list_genres.length
    ul
      each val in list_genres
        li
          a(href=val.url) #{val.name}

  else
    p There are no genres.
