extends layout

block content

  h1(style="color: #00ff00") #{title}


   body(style="background-color: 	#f0fff0")

  form(method='POST')
    div.form-group
      label(for='name') ジャンル:
      input#name.form-control(type='text', placeholder='Fantasy, Poetry etc.' name='name' required value=(undefined===genre ? '' : genre.name) )
    button.btn.btn-primary(type='submit') 送信

  if errors
    ul
      for error in errors
        li!= error.msg